/* tic toc toe */
  .outside {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(168, 183, 185, 0.37);
  }
  .inside {
    display: grid;
    width: 600px;
    height: 600px;
    grid-template-columns: auto auto auto;
  }
  .tictac {
    width: 200px;
    height: 200px;
    font-size: 3rem;
    font-weight: bold;
    border: 3px solid black;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  
#tictop1,
#tictop2,
#tictop3 {
  border-top: none;
}

#tictop1,
#ticmiddle1,
#ticbottom1 {
  border-left: none;
}

#ticbottom1,
#ticbottom2,
#ticbottom3 {
  border-bottom: none;
}

#tictop3,
#ticmiddle3,
#ticbottom3 {
  border-right: none;
}